<!DOCTYPE html>
<html class="no-js">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" href="{{ theme_url }}/../shared/img/favicon.ico">
    <title>{% if meta.title %}{{ meta.title }} | {% endif %}{{ site_title }}</title>

    {% if meta.description %}
        <meta name="description" content="{{ meta.description|striptags }}" />
    {% endif %}
    {% if meta.robots %}
        <meta name="robots" content="{{ meta.robots }}" />
    {% endif %}

    {% if current_page %}
        <link rel="canonical" href="{{ current_page.url }}" />
    {% endif %}

    
   
     {% if config.session.theme == "dark" %}
    <link rel="stylesheet" href="{{ theme_url }}/css/style-light.css" type="text/css" />
    {% else %}
    <link rel="stylesheet" href="{{ theme_url }}/css/style.css" type="text/css" />
    {% endif %}

</head>
<body{% if config.theme_config.widescreen %} class="widescreen"{% endif %}>
    <header class="site-header">
    <a id="nav-toggle" title="Toggle Menu" role="button" aria-controls="nav" aria-expanded="false" tabindex="1">
        <i class="fa fa-bars" aria-hidden="true" id="toggler"></i>
        <span class="sr-only">Toggle Menu</span>
    </a>
    <div class="logo" aria-hidden="true">
                    <a href="{{ "index"|link }}">
                        <img class="logoimg" src="{{ base_url }}/{{ pages["_meta"].meta.logo|url }}" alt="" />
                    </a>
    </div>
    <div id="nav" role="navigation" tabindex="-1">
        <ul>
            {% for page in pages(depthOffset=-1) if page.title and not page.hidden %}
            <li{% if page.id == current_page.id %} class="active" {% endif %}>
                <h2><a href="{{ page.url }}">{{ page.title }}</a></h2>
                </li>
                {% endfor %}
        </ul>
    </div>
</header>
<div class="kmomflex">
<div>
     <div class="leftmenu">

    <li><a href="kmom01">KMOM 01</a></li>
    <li><a href="kmom02">KMOM 02</a></li>
    <li><a href="kmom03">KMOM 03</a></li>
    <li><a href="kmom04">KMOM 04</a></li>
    <li><a href="kmom05">KMOM 05</a></li>
    <li><a href="kmom06">KMOM 06</a></li>
    <li><a href="kmom10">KMOM 10</a></li>

</div>
    <div class="mainkmom" id="main" role="main">
        <div class="container">
            {{ content }}
        </div>
    </div>
</div>
</div>
    <footer class="site-footer">
         <div class="footer">
        <div class="container">
            <div class="social">
                <!-- Loads from FontAwesome (themes/shared/css/font-awesome.min.css) -->
                {% for social in pages["_meta"].meta.social %}
                    <a href="{{ social.url }}" title="{{ social.title }}" role="button">
                        <i class="{{ social.icon }}" aria-hidden="true"></i>
                        <span class="sr-only">{{ social.title }}</span>
                    </a>
                {% endfor %}
            </div>
            <div class="instagram">
            {% for instagram in pages["_meta"].meta.instagram %}
                <a href="{{ instagram.url }}" title="{{ instagram.title }}" role="button">
                    <i class="{{ instagram.icon }}" aria-hidden="true"></i>
                    <span class="sr-only">{{ instagram.title }}</span>
                </a>
            {% endfor %}
            </div>
            <div class="school">
            {% for school in pages["_meta"].meta.school %}
                <a href="{{ school.url }}" title="{{ school.title }}" role="button">
                    <i class="{{ school.icon }}" aria-hidden="true"></i>
                    <span class="sr-only">{{ school.title }}</span>
                </a>
            {% endfor %}
            </div>
            <div class="football">
            {% for football in pages["_meta"].meta.football %}
                <a href="{{ football.url }}" title="{{ football.title }}" role="button">
                    <i class="{{ football.icon }}" aria-hidden="true"></i>
                    <span class="sr-only">{{ football.title }}</span>
                </a>
            {% endfor %}
            </div>
                

            <p class="footer-text">
                Min footer
            </p>
        </div>
    </div>
    </footer>
    <script src="{{ theme_url }}/../shared/js/modernizr-3.3.1-custom.min.js" type="text/javascript"></script>
    <script src="{{ theme_url }}/../shared/js/utils.js" type="text/javascript"></script>
    <script src="{{ theme_url }}/../shared/js/responsive-navbar.js" type="text/javascript"></script>
</body>